/* Override here any style definide by web-app-theme */

#header {
  position: fixed;
  width: 99%;
  z-index: 1000;
}

#header h1 > span {
  color: #fff;
  display: block;
  font-size: 0.5em;
}

#main {
  margin-top: 110px;
}

#footer {
  text-align: center;
}

#footer a {
  border-bottom: 1px dotted #fff;
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  border-bottom: 1px solid #fff;
}

#sidebar {
  position: fixed;
  top: 130px;
  right: 20px;
}

.content {
  /* min-height: 100px; */
}

h2.title span {
  font-size: 0.60em;
}

h2.title span > a {
  border-bottom: 1px dotted #262626;
  text-decoration: none;
}

h2.title span > a:hover {
  border-bottom: 1px solid #262626;
}

.table {
  margin-top: 10px;
}

.notice ul {
  list-style-type: none;
}


/* Custom styles. */

.folders {
  padding: 10px;
}

.subfolder {
  margin-left: 20px;
}

.admin-buttons {
  float: right;
  margin-top: -40px;
}

.pagination > span.disabled {
  background-color: #ddd;
  border: 1px solid #ddd;
  color: #888;
}
