<div class="songs">
  <% @songs.each do |song| %>
    <div class="song">
      <%= link_to(image_tag('layout/icons/add.png'), '#') %>
      <%= link_to(image_tag('layout/icons/down_arrow.png'), download_path(song)) %>
      <abbr title="<%= song.path %>"><%= h(song.title) %></abbr>
    </div>
  <% end %>
</div>
