<% content_for(:sidebar) do %>
  <div class="block">
    <h3>Browse The Music</h3>
    <ul class="navigation">
      <li><a href="#collapse" id="collapse-subfolders">Collapse Folders</a></li>
    </ul>
  </div>

  <div class="block notice">
    <h4>Help</h4>
    <ul>
      <li><%= image_tag('layout/icons/add.png') %> Playlist</li>
      <li><%= image_tag('layout/icons/down_arrow.png') %> Download</li>
    </ul>
  </div>
<% end %>

<div class="block">
  <div class="content">
    <% unless @songs.empty? %>
      <%= render :partial => 'songs' %>
    <% end %>

    <% unless @folders.empty? %>
      <%= render :partial => 'folders' %>
    <% end %>
  </div><%# end .content %>
</div><%# end .block %>
